:root
{
  --accent-color: #DE2E54;
  --text-color: #fff;
  --heading-font: Open Sans Condensed, Arial, sans-serif;
  --text-font: "open sans", open sans condensed, "arial", sans-serif;
  --background-color: #0EB4C1;
}

html
{
  box-sizing: border-box;
  scroll-behavior: smooth;
  height: 100px;
}
*,
*::before,
*::after
{
box-sizing: inherit;
}
*:focus
{
  outline: 2px dotted var(--accent-color);
  outline-offset: 3px;
}
/* ============== */
/* ==== body ==== */
/* ============== */
body
{
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  font-family: var(--text-font);
}
.container
{
  max-width: 1140px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-right: 20px;
  padding-left: 20px;
}
/* ===================== */
/* === site header ===== */
/* ==================== */
.site-header
{
  padding-top: 24px;
  padding-bottom: 24px;
}
.site-header-container
{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.site-logo
{
  display: flex;
  align-items: center;
  margin-left: 114,5px;
}
.site-logo-img
{
  margin-right: 16px;
}
.site-logo-link
{
  display: flex;
  align-items: center;
  font-family: var(--text-font);
  font-size: 24px;
  font-weight: 600;
  line-height: 33px;
  letter-spacing: 0em;
  text-align: left;
  text-decoration: none;
  color: rgba(34, 34, 34, 1);
  transition: opacity 0.4s ease;
}
.site-logo-link:hover
{
  color: var(--accent-color);
  opacity: 0.8;
}
.site-logo-link:active
{
  opacity: 0.6;
}
/* ============= site nav =================== */
.site-nav-list
{
  display: flex;
  align-items: center;
}
.site-nav-item
{
  display: flex;
  list-style: none;
}
.site-nav-item:not(:last-child)
{
  margin-right: 32px;
}
.site-nav-link
{
  text-decoration: none;
  font-family: var(--text-font);
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 2px;
  text-align: left;
  text-transform: uppercase;
  color: rgba(34, 34, 34, 1);
  transition: opacity 0.4s ease;
}
.site-nav-link:hover
{
  color: var(--accent-color);
  opacity: 0.8;
}
.site-nav-link:active
{
  opacity: 0.6;
}
/* ==== main link ===== */
.main-link
{
  /* display: inline-block; */
  font-family: var(--heading-font);
  font-size: 15px;
  font-weight: 700;
  line-height: 23px;
  padding: 10px 22px;
  border: 2px solid var(--accent-color);
  border-radius: 8px;
  letter-spacing: 2px;
  text-align: left;
  text-decoration: none;
  text-transform: uppercase;
  color:  var(--text-color);
  background-color:  var(--accent-color);
  transition: 0.4s ease;
  margin-right: 20px;
}
.main-link:hover
{
  background-color: var(--text-color);
  color: var(--accent-color);
}
.main-link:active
{
  background-color: var(--accent-color);
  color: var(--text-color);
  opacity: 0.6;
}
.main-link-outline
{
border-color: var(--text-color);
background-color: transparent;
color: var(--text-color);
}
.main-link-outline:hover
{
  border-color: transparent;
  background-color: var(--accent-color);
  color: var(--text-color);
}

/* =================== */
/* ==== SITE HERO ==== */
/* =================== */
.site-hero
{
  display: flex;
  background: var(--background-color);
}
.site-hero-container
{
  display: flex;
  justify-content: space-between;
}
.hero-content-box
{
  max-width: 500px;
  width: 100%;
  padding-top: 120px;
  padding-bottom: 120px;
}
.hero-heading
{
  font-family: var(--heading-font);
  max-width: 500px;
  width: 100%;
  font-size: 36px;
  font-weight: 700;
  line-height: 43px;
  letter-spacing: 0px;
  text-align: left;
  color: var(--text-color);
  padding: 0;
  margin: 0;
  margin-bottom: 16px;
}
.hero-content-text
{
  font-family: var(--text-font);
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0px;
  text-align: left;
  color: var(--text-color);
  padding: 0;
  margin: 0;
  margin-bottom: 48px;
}
.hero-main-link
{
  font-family: var(--heading-font);
  font-size: 15px;
  font-weight: 700;
  line-height: 23px;
  padding: 12px 24px;
  border-radius: 8px;
  letter-spacing: 2px;
  text-align: left;
  text-decoration: none;
  text-transform: uppercase;
  color:  var(--text-color);
  background-color:  var(--accent-color);
  transition: opacity 0.4s ease;
}
.hero-main-link:hover
{
  opacity: 0.8;
}
.hero-main-link:active
{
  opacity: 0.6;
}
.hero-img-box
{
   display: flex;
   align-items: flex-end;
}
/* ================== */
/* == SITE FEATURE == */
/* ================== */

.site-feature-heading
{
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
  font-family: var(--heading-font);
  font-size: 36px;
  font-weight: 700;
  line-height: 43px;
  letter-spacing: 0px;
  text-align: left;
  color: rgba(0, 0, 0, 1);
  padding-top: 120px;
  padding-bottom: 56px;
}
.service
{
  margin: 0;
  padding: 0;
}
.service-list
{
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  margin-bottom: 50px;
}
.service-list:not(:last-child)
{
  margin-bottom: 80px;
}
.service-list-img
{
  margin: 0;
  padding: 0;
}
.service-list-text
{
  padding: 0;
  margin: 0;
  max-width: 600px;
  margin-left: 64px;
}
.service-list-parag
{
  font-family: var(--text-font);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  padding: 0;
  margin: 0;
}
h3
{
  font-family: var(--heading-font);
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
  letter-spacing: 0px;
  text-align: left;
  padding: 0;
  margin: 0;
  margin-bottom: 24px;
}
.feature-main-link
{
  font-family: var(--heading-font);
  font-size: 15px;
  font-weight: 700;
  line-height: 23px;
  padding: 12px 24px;
  border-radius: 8px;
  letter-spacing: 2px;
  text-align: left;
  text-decoration: none;
  text-transform: uppercase;
  color:  var(--text-color);
  border: 2px solid var(--accent-color);
  background-color:  var(--accent-color);
  margin-bottom: 132px;
  transition: 0.4s ease;
}
.feature-main-link:hover
{
  background-color: var(--text-color);
  color: var(--accent-color);
}
.feature-main-link:active
{
  background-color: var(--accent-color);
  color: var(--text-color);
  opacity: 0.6;
}
.feature-link-wrapper
{
  display: flex;
  justify-content: center;
}

/* ================== */
/* == SITE FOOTER == */
/* ================= */
.cta
{
  background-color: var(--background-color);
  padding-top: 64px;
  padding-bottom: 64px;
}
.site-cta-heading
{
  text-align: center;
  padding: 0;
  margin: 0;
  font-family: var(--heading-font);
  font-size: 36px;
  font-weight: 700;
  line-height: 43px;
  letter-spacing: 0px;
  color: var(--text-color);
  margin-bottom: 40px;
}
.cta-link
{
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-link-outline
{
  font-family: var(--heading-font);
  font-size: 15px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 2px;
  text-align: left;
  color: var(--text-color);
  text-decoration: none;
  text-transform: uppercase;
  margin: 0;
}
.cta-item:not(:last-child)
{
  margin-right: 40px;
}
/* ================== */
/* === FOOTER NAV === */
/* ================== */
.site-footer
{
  background-color:  rgba(34, 34, 34, 1);
  padding-top: 24px;
  padding-bottom: 24px;
}
.site-footer-container
{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.site-nav-list
{
  margin: 0;
}
.site-footer-nav-link
{
  text-decoration: none;
  font-family: var(--text-font);
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 2px;
  text-align: left;
  text-transform: uppercase;
  color: var(--text-color);
  transition: 0.4s ease;
}
.site-footer-nav-link:hover
{
  color: var(--accent-color);
}
.site-footer-nav-link:active
{
  color: var(--text-color);
  opacity: 0.6;
}
.site-footer-logo-link
{
  display: flex;
  align-items: center;
  font-family: var(--text-font);
  font-size: 24px;
  font-weight: 600;
  line-height: 33px;
  letter-spacing: 0em;
  text-align: left;
  text-decoration: none;
  color: var(--text-color);
  transition: 0.4s ease;
}
.site-footer-logo-link:hover
{
  color: var(--accent-color);
}
.site-footer-logo-link:active
{
  color: var(--accent-color);
  opacity: 0.6;
}
